// Created by gillbeits on 11.12.15.
doctype html
html(lang="ru")
    head
        title Template Home Page
        meta(name='viewport', content='width=device-width,initial-scale=1')
        // base url
        base(href='/')
        // build:css css/styles.css
        // inject:head:css
        // endinject
        // endbuild
        link(rel='stylesheet', type='text/css', href='/css/app/styles.css')

    body